#!/usr/bin/make -f
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

MAN=debian/dumb-init.1

override_dh_clean:
	$(RM) -rv .cache
	dh_clean $(MAN)

override_dh_auto_clean:
	@true

$(MAN):
	help2man --name 'a minimal init system for Linux containers' \
		--no-discard-stderr \
		--include debian/help2man \
		--no-info \
		./dumb-init > $@

override_dh_installman: $(MAN)
	dh_installman

override_dh_builddeb:
	# Use gzip instead of xz to support older Debian/Ubuntu releases which
	# might install our debs.
	dh_builddeb -- -Zgzip

override_dh_auto_test:
	find . -name '*.pyc' -delete
	find . -name '__pycache__' -delete
	PATH=.:$$PATH py.test -vv tests/
