#!/usr/bin/make -f
%:
	dh $@

override_dh_builddeb:
	dh_builddeb -- -Zgzip

override_dh_auto_test:
	find . -name '*.pyc' -delete
	find . -name '__pycache__' -delete
	PATH=.:$$PATH py.test tests/
	ps aux

# we don't want it to wipe out our dist directory
override_dh_auto_clean:
